{% extends "account/login.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h1 class="title-heading">{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>{% blocktrans %}We have sent you an e-mail. Please ask an administrator if you do not receive it within a few minutes.{% endblocktrans %}</p>
<p  class="return-login"><a href="{% url 'account_login' %}"> ⮜ Return back to Login Page</a></p>
{% endblock %}
