{% extends "account/login.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<form method="POST" id="signup_form">
	{% csrf_token %}
  <legend class="title-heading">Password Reset</legend>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset your password." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="button" id="btnSubmit"><span>Submit</span></button>
  </form>
	<div class="bottom-section">
		<p>{% blocktrans %}Please contact an administrator if you have any trouble resetting your password.{% endblocktrans %}</p>
		<p class="return-login"><a href="{% url 'account_login' %}"> ⮜ Return back to Login Page</a></p>
	</div>

{% endblock %}
