{% extends "_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extrahead %}
  <link rel="stylesheet" href="{% static 'css/accounts/password_change.css' %}">
  <link rel="stylesheet" href="{% static 'css/base/button.css' %}">
{% endblock extrahead %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
    {% if perms.customers.is_superuser  %}
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% else %}
      <li class="breadcrumb-item">Home</li>
    {% endif %}
    <li class="breadcrumb-item"><a active href="#">Change Password</a></li>
</ol>
{% endblock %}

{% block content %}
<div class="content-container">
  <form method="POST" action="{% url 'account_change_password' %}">{% csrf_token %}
      {{ form | crispy }}
      <button type="submit" class="button"><span>Update Password</span></button>
  </form>
</div>

{% endblock content %}
