{% extends "account/login.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block form_content %}
<form method="POST" id="signup_form">
	{% csrf_token %}
	<legend class="title-heading">Sign Up</legend>
	<fieldset class="form-content">
		{{ form | crispy }}
	</fieldset>
	<div>
		<button type="submit" class="button" id="btnSubmit"><span>Sign Up</span></button>
	</div>
</form>
<div class="bottom-section">
	<p>Already have an account? <a href="{% url 'account_login' %}">Sign In</a></p>
</div>
{% endblock %}
