{% load widget_tweaks %}
{% load staticfiles %}
<div class="modal-header">
  <div class="modal-title">
    <img src="{% static 'images/company.png' %}" class="mr-3">
    <div class="company-detail">
      <p><span class="read-name">{{ customers.companyName }}</span> <span class="read-email">{{ customers.email }}</span></p>
    </div>
  </div>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {% if customers %}
  <div class="modal-dual">
    <div>
      <span class="title">Contact Person</span>
      <span class="data">{{ customers.contactPerson }}</span>
    </div>

    <div>
      <span class="title">Phone</span>
      <span class="data">{{ customers.phone }}</span>
    </div>

  </div>


  <div class="modal-dual">
    <div>
      <span class="title">Contact Person 2</span>
      <span class="data">{{ customers.contactPerson2 }}</span>
    </div>

    <div>
      <span class="title">Phone 2</span>
      <span class="data">{{ customers.phone2 }}</span>
    </div>
  </div>

  <div class="modal-single">
    <div>
      <span class="title">Address</span>
      <span class="data">{{ customers.addressLine1 }} {{ customers.addressLine2 }} {{ customers.city }} {{ customers.postalCode }} {{ customers.country }}</span>
    </div>
  </div>

  <div class="modal-single">
    <div>
      <span class="title">Website</span>
      <span class="data">{{ customers.website }}</span>
    </div>
  </div>

  <div class="modal-single">
    <div>
      <span class="title">Additional Information</span>
      <span class="data">{{ customers.additionalInfo }}</span>
    </div>
  </div>

  <div class="modal-dual">
    <div>
      <span class="title">Date Updated</span>
      <span class="data">{{ customers.last_updated_at }}</span>
    </div>

    <div>
      <span class="title">Updated By</span>
      <span class="data">{{ customers.last_updated_by }}</span>
    </div>
  </div>

  <div class="modal-dual">
    <div>
      <span class="title">Date Added</span>
      <span class="data">{{ customers.created_at }}</span>
    </div>

    <div>
      <span class="title">Added By</span>
      <span class="data">{{ customers.created_by }}</span>
    </div>
  </div>
</div>

{% endif %}
