.content-container{
  display: flex;
  background-color: white;
  padding: 30px;
  border: 1px solid rgba(50,50,50,0.2);
  color: rgba(74, 70, 70, 1);
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(50,50,50, 0.3);
  max-width: 400px;
  margin: 0 auto;
}
form{
  min-width: 100%;
}
