{% extends "_base.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/apps/apps_create_update.css' %}">
{% endblock %}

{% block breadcrumb_content %}
<ol class="breadcrumb">
    {% if perms.customers.is_superuser  %}
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% else %}
      <li class="breadcrumb-item">Home</li>
    {% endif %}
    <li class="breadcrumb-item"><a href="{% url 'product-home' %}">Product</a></li>
    <li class="breadcrumb-item"><a active href="#">Delete Product</a></li>
</ol>
{% endblock %}

{% block content %}

<div class="content-container">
  <form action="" method="POST">{%csrf_token%}
    <h3>Delete the following Product?</h3>
    <ul>
    {% for cust in delProducts %}
      <li class=" mt-2"><span class="mr-2">&cross;</span>{{ cust }}</li>
    {% endfor %}
    </ul>
    <button type="submit" name="button" class="button button-delete"><span>Confirm Delete</span></button>
    <a class="ml-3" href="{% url 'product-home' %}">No, Cancel</a>
  </form>
</div>

{% endblock %}
