{% extends "_base.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/apps/apps_home.css' %}">
<link rel="stylesheet" href="{% static 'css/base/tooltip.css' %}">
{% endblock %}

{% block title %}Products{% endblock %}
{% block breadcrumb_content %}
<ol class="breadcrumb">
    {% if perms.customers.is_superuser  %}
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% else %}
      <li class="breadcrumb-item">Home</li>
    {% endif %}
    <li class="breadcrumb-item"><a active href="#">Product</a></li>
</ol>
{% endblock %}
{% block content %}
{% include "_modal.html" %}

<div class="content-container">

  <div class="option-list">
    <div class="option-left">
      <a href="#" id="filter"><img src="{% static 'images/filter.png' %}" alt=""></a>
      <div class="filter-group">
        <div class="filter-container">
          <div class="filter-div">
            <label for="">Category</label>
            <select name="" id="category_list" class="form-control">
              <option value="" selected></option>
              {% for category in category_list %}
                <option value={{category}}>{{category}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="filter-div">
            <label for="">Distributor: </label>
            <select name="" id="distributor_list" class="form-control">
              <option value="" selected></option>
              {% for distri in distributor_list %}
                <option value={{distri}}>{{distri}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="option-right">
      <div class="btn-group">
        {% if products %}
        {% if perms.products.delete_product  or perms.products.export_product %}
        <button type="button" class="crud actions"><img src="{% static 'images/action.png' %}" class="mr-2">Actions</button>
        <button type="button" class="crud actions dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% endif %}
        {% endif %}
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <form action="" method="POST" id="batch_action">
            {% if perms.products.delete_product  %}
            <a class="dropdown-item mb-2 batch_delete" href="#"><img src="{% static 'images/batch_delete.png' %}" class="mr-2">Delete Selected</a>
            {% endif %}
            {% if perms.products.export_product  %}
            <a class="dropdown-item mb-2 batch_export" href="#"><img src="{% static 'images/batch_export.png' %}" class="mr-2">Export Selected</a>
            {% endif %}
          </form>
        </div>
      </div>
      {% if perms.products.add_product  %}
      <a class="crud add-item" href="{% url 'product-create' %}"><img src="{% static 'images/add-product.png' %}" class="mr-2">Add Product</a>
      {% endif %}
      {% if products %}
      {% if perms.products.export_product  %}
      <a class="crud export-all" href="{% url 'product-export' %}"><img src="{% static 'images/excel.png' %}" class="mr-2">Export All</a>
      {% endif %}
      {% if perms.products.delete_product  %}
      <a class="crud delete-all" href="{% url 'product-delete-all' %}"><img src="{% static 'images/delete-all.png' %}" class="mr-2">Delete All</a>
      {% endif %}
      {% endif %}
    </div>

  </div>

  <form action="" id="frm-table" method="post">
  <table id="myTable" class="order-column table table-bordered">
    <thead>
      <tr>
        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
        <th class="sort">Product Code</th>
        <th class="sort">Serial No.</th>
        <th class="sort">Category</th>
        <th class="sort">Distributor</th>
        <th class="sort">Price/Unit</th>
        <th class="sort">SRP</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr class="mydata-row">
        <td class="input-td" id="customer-id" value="{{product.pk}}">{{product.pk}}</td>
        <td>
          <div class="tooltips">
            <button type="button" class="button-plain read-data" data-id="{% url 'product-read' product.pk %}">
              {{ product.productCode }}
            </button>
            <div class="top"><p>See more details</p><i></i></div>
          </div>
        </td>
        <td>{{ product.serialNo }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.distributor }}</td>
        <td class="price-per-unit">{{ product.pricePerUnit }}</td>
        <td class="srp">{{ product.srp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
  {% if perms.products.change_product or perms.products.delete_product%}
  <ul class='custom-menu'>
    {% if perms.products.change_product  %}
    <li><a class="menu-update"><img src="{% static 'images/edit.png' %}" class="mr-2" alt="">Update</a></li>
    {% endif %}
    {% if perms.products.delete_product %}
    <li><a class="menu-delete"><img src="{% static 'images/delete.png' %}" class="mr-3" alt="">Delete</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'dataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/dataTables.checkboxes.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/modalview.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/rightclick_menu.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/loadTable.js' %}" charset="utf-8"></script>

<!-- THIS IS FOR BATCH FUNCTION BUTTONS -->
<script>

  var selected_items;
  $(document).ready(function() {

	  $('a#filter').on("click", function(){
      if ($('.filter-group').is(":visible")){
        $('.filter-group').hide(100);
      }
      else{
        $('.filter-group').show(100);
      }
    });

    // BATCH EXPORT
    $("a.batch_export").on("click", function() {
      getSelectedItems();
      if(selected_items == ""){
        alert("Please select an item first.")
      }
      else{
        var url = "{% url 'product-export_batch' 'test' %}";
        url = url.replace('test', selected_items);
        $(this).attr("href", url);
      }
    });

    // BATCH DELETE
    $("a.batch_delete").on("click", function() {
      getSelectedItems();
      if(selected_items == ""){
        alert("Please select an item first.")
      }
      else{
        var url = "{% url 'product-delete-batch' 'test' %}";
        url = url.replace('test', selected_items);
        $(this).attr("href", url);
      }
    });

    // UPDATE ITEM
    $("a.menu-update").on("click", function() {
      var url = "{% url 'product-update' 'test' %}";
      url = url.replace('test', id);
      $(this).attr("href", url);
    });

    // DELETE ITEM
    $("a.menu-delete").on("click", function() {
      var url1 = "{% url 'product-delete-batch' 'test' %}";
      url1 = url1.replace('test', id);
      $(this).attr("href", url1);
    });
  });

</script>
{% endblock %}
