{% extends "_base.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/apps/apps_home.css' %}">
<link rel="stylesheet" href="{% static 'css/base/tooltip.css' %}">
{% endblock %}

{% block title %}Distributors{% endblock %}
{% block breadcrumb_content %}
<ol class="breadcrumb">
    {% if perms.customers.is_superuser  %}
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    {% else %}
      <li class="breadcrumb-item">Home</li>
    {% endif %}
    <li class="breadcrumb-item"><a href="#">Distributor</a></li>
</ol>
{% endblock %}
{% block content %}
{% include "_modal.html" %}

<div class="content-container">
  <div class="option-list">
    <div class="option-left">

    </div>

    <div class="option-right">
      <div class="btn-group">
        {% if distributors %}
        {% if perms.distributors.delete_distributor  or perms.distributors.export_distributor %}
        <button type="button" class="crud actions"><img src="{% static 'images/action.png' %}" class="mr-2">Actions</button>
        <button type="button" class="crud actions dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% endif %}
        {% endif %}
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <form action="" method="POST" id="batch_action">
            {% if perms.distributors.delete_distributor  %}
            <a class="dropdown-item mb-2 batch_delete" href="#"><img src="{% static 'images/batch_delete.png' %}" class="mr-2">Delete Selected</a>
            {% endif %}
            {% if perms.distributors.export_distributor  %}
            <a class="dropdown-item mb-2 batch_export" href="#"><img src="{% static 'images/batch_export.png' %}" class="mr-2">Export Selected</a>
            {% endif %}
          </form>
        </div>
      </div>

      {% if perms.distributors.add_distributor  %}
      <a class="crud add-item" href="{% url 'distributor-create' %}"><img src="{% static 'images/add-distributor.png' %}" class="mr-2">Add Distributor</a>
      {% endif %}
      {% if distributors %}
      {% if perms.distributors.export_distributor  %}
      <a class="crud export-all" href="{% url 'distributor-export' %}"><img src="{% static 'images/excel.png' %}" class="mr-2">Export All</a>
      {% endif %}
      {% if perms.distributors.delete_distributor  %}
      <a class="crud delete-all" href="{% url 'distributor-delete-all' %}"><img src="{% static 'images/delete-all.png' %}" class="mr-2">Delete All</a>
      {% endif %}
      {% endif %}
    </div>
  </div>

  <form action="" id="frm-table" method="post">
  <table id="myTable" class="order-column table table-bordered">
    <thead>
      <tr>
        <th><input type="checkbox" name="select_all" value="1" id="example-select-all"></th>
        <th class="sort">Distributor Name</th>
        <th class="sort">Email</th>
        <th class="sort">Phone</th>
        <th class="sort">Contact Person</th>
        <th class="sort">Address</th>
      </tr>
    </thead>
    <tbody>
      {% for distributor in distributors %}
      <tr class="mydata-row">
        <td class="input-td" id="customer-id" value="{{distributor.pk}}">{{distributor.pk}}</td>
        <td>
          <div class="tooltips">
            <button type="button" class="button-plain read-data" data-id="{% url 'distributor-read' distributor.pk %}">
              {{ distributor.distributorName }}
            </button>
            <div class="top"><p>See more details</p><i></i></div>
          </div>
        </td>
        <td>{{ distributor.email }}</td>
        <td>{{ distributor.phone }}</td>
        <td>{{ distributor.contactPerson }}</td>
        <td>{{ distributor.addressLine1 }} {{ distributor.addressLine2 }} {{ distributor.city }} {{ distributor.country }} {{ distributor.postalCode }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
  {% if perms.distributors.change_distributor or perms.distributors.delete_distributor%}
  <ul class='custom-menu'>
    {% if perms.distributors.change_distributor  %}
    <li><a class="menu-update"><img src="{% static 'images/edit.png' %}" class="mr-2" alt="">Update</a></li>
    {% endif %}
    {% if perms.distributors.delete_distributor %}
    <li><a class="menu-delete"><img src="{% static 'images/delete.png' %}" class="mr-3" alt="">Delete</a></li>
    {% endif %}
  </ul>
  {% endif %}

</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'dataTables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/dataTables.checkboxes.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/modalview.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/rightclick_menu.js' %}" charset="utf-8"></script>
<script src="{% static 'js/apps/loadTable.js' %}" charset="utf-8"></script>

<!-- THIS IS FOR BATCH FUNCTION BUTTONS -->
<script>
  var selected_items;
  $(document).ready(function() {
    $("a.batch_export").on("click", function() {
      getSelectedItems();
      if(selected_items == ""){
        alert("Please select an item first.")
      }
      else{
        var url = "{% url 'distributor-export_batch' 'test' %}";
        url = url.replace('test', selected_items);
        $(this).attr("href", url);
      }
    });

    $("a.batch_delete").on("click", function() {
      getSelectedItems();
      if(selected_items == ""){
        alert("Please select an item first.")
      }
      else{
        var url = "{% url 'distributor-delete-batch' 'test' %}";
        url = url.replace('test', selected_items);
        $(this).attr("href", url);
      }
    });

    $("a.menu-update").on("click", function() {
      var url = "{% url 'distributor-update' 'test' %}";
      url = url.replace('test', id);
      $(this).attr("href", url);
    });

    $("a.menu-delete").on("click", function() {
      var url1 = "{% url 'distributor-delete-batch' 'test' %}";
      url1 = url1.replace('test', id);
      $(this).attr("href", url1);
    });
  });
</script>

{% endblock %}
