.content-container{
  background-color: white;
  color: rgba(74, 70, 70, 1);
  max-width: 1920px;
  margin: 0 auto;
}
div.top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.project-info{
  display: flex;
  align-items: center;
}
div.estimate-header{
  display: flex;
  margin-right: 10px;
}
div.project-info img{
  margin-right: 10px;
}
div.project-info p{
  font-size: 1.6rem;
}
button.drop{
  background-color: white;
  color:gray;
  height: 25px;
}

/* QUOTATION/INVOICE/P.O BUTTON */
div.project-action{
  display: flex;
  color:white;
}
div.project-action ul.estimate{
  background-color: #68A3FF;
  padding: 1px 10px;
  margin: 0 5px;
}
a.action{
  color:white;
}

/* ESTIMATES */
div.estimate-fields{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* ESTIMATE INFORMATION */
div.estimate-information{
  flex: 7;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  margin-right: 10px;
  padding: 20px;
}
div.estimate-row{
  display: flex;
  justify-content: space-between;
}
div.estimate-1{
  min-width: 180px;
}
div.estimate-2{
  margin: 0 10px;
}
div.estimate-3{
  min-width: 180px;
}
span.title{
  display: block;
  font-weight: 700;
}

span.data{

  font-size: 1.1rem;
}
span.status{
  display: inline-block;
  padding: 5px;
  margin-top: 3px;
}
/* OVERALL INFORMATION */
div.overall-information{
  flex: 3;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  margin-left: 10px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 400px;
}
h3.information-title{
  border-bottom: 1px solid rgba(200,200,200,1);
  padding-bottom: 10px;
  margin-bottom: 10px;
}
span.overall-title{
  width: 160px;
  font-weight: 700;
  display: inline-block;
}


/* ESTIMATE LIST */
div.estimate-list{
  margin-top: 30px;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
div.table-content{
  overflow-x: scroll;
}
div.estimate-list table{
  width: 2380px;
  border-bottom: 1px solid rgba(80,80,80,0.3);
}
div.table-content{

}
thead{
  background-color:  rgba(230,230,230,1);
  border: 1px solid rgba(200,200,200,1);
  padding: 5px;
}
th,td{
  text-align: center;
}
th{
  padding: 10px 0;
  font-weight: 700;
  font-size: 1.1rem;
}
th.description{
  width: 300px;
}
tr{
  border-bottom: 1px solid rgba(200,200,200,0.5);
}
td{
 padding: 10px 0;
}
